@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow: auto;
  background-image: linear-gradient(135deg, #091021, #000000);
  font-family: "Oxanium", cursive;
  color: white;
}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  backdrop-filter: blur(100px);
}


.header {
  height: 10em;
  background-color: transparent;
}

.header nav {
  display: block;
  padding-left: auto;
  background-color: yellow;
}

.header nav ul{
  background-color: transparent;
  float: right;
  width: 40vw;
  position: absolute;
  top: 2em;
  right: 0;
}

.header nav ul li{
  height: 2.5em;
  display: inline-block;
  list-style-type: none;
  font-size: 1.25em;
  padding-top: 1em;
  padding-right: 2vw;
  padding-left: 2vw;
  text-align: center;
}

.header nav ul li:hover {
  background-color: rgb(255, 255, 255, 0.10);
  transition-property: background-color;
  transition-duration: 0.25s;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: right;
  padding-left: 10%;
  padding-right: 40%;
  padding-top: 5%;
  background-color: red;
}


.about h1 {
  font-size: 3em;
}

.about p {
  font-size: 1.5em;
}