@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html {
  height: 100%;
  background-image: url(../background.jpg);
}

body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  /*background-image: linear-gradient(135deg, #091021, #000000);*/
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 20px;
  overflow: hidden;
}

h1 {
  font-family: "Audiowide", cursive;
  font-size: 48px;
}

p b {
  font-family: "Oxanium", cursive;
  font-size: 20px;
  font-weight: 400;
}

p {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 20px;
}


.navigation-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 95%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.logo {
  height: 70px;
}

.navigation-bar ul li {
  padding: 25px;
  font-size: 18px;
}

.navigation-bar ul li a {
  text-decoration: none;
  color: white;

}

.navigation-bar ul li:hover {
  background-color: rgb(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 0.25s;
}

.home-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 200px;
  padding-left: 75px;
  padding-right: 75px;
}

model-viewer {
  flex-grow: 2;
  --progress-bar-color: transparent;
  animation: fadeInModel ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInModel {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cubesat-model {
  display: inline-block;
  height: 500px;
  width: 35%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-divider {
  width: 0%;
}


.home-blurb {
  text-align: left;
  width: 40%;
}